@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: pretendard;
}

html {
  font-size: 62.5%;
  color: #343434;
}

body.on {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#wrap {
  min-width: 320px;
  margin: 0 auto;
  max-width: 767px;
}

a {
  -webkit-tab-highlight-color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.btn {
  background-color: transparent;
  border: none;
}

.icon {
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: top;
}

.icon-back {
  width: .7rem;
  height: 1.5rem;
  background-image: url('../lib/img/icon/back.png');
}

.icon-arrow-left {
  width: .7rem;
  height: 1.3rem;
  background-image: url('../lib/img/icon/arrow-left.png');
}

.icon-arrow-right {
  width: .7rem;
  height: 1.3rem;
  background-image: url('../lib/img/icon/arrow-right.png');
}

.icon-search {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url('../lib/img/icon/search.png');
}

.icon-hamburger {
  width: 1.8rem;
  height: 1.5rem;
  background-image: url('../lib/img/icon/hamburger.png');
}

.icon-order {
  width: 1.1rem;
  height: .7rem;
  background-image: url('../lib/img/icon/order.png');
}

.icon-plus {
  width: 1.45rem;
  height: 1.45rem;
  background-image: url('../lib/img/icon/plus.png');
}

.icon-close {
  width: 1.5rem;
  height: .7rem;
  background-image: url('../lib/img/icon/close.png');
}

.icon-open {
  width: 1.5rem;
  height: .7rem;
  background-image: url('../lib/img/icon/open.png');
}

.icon-arrow-small {
  width: .5rem;
  height: .5rem;
  background-image: url('../lib/img/icon/arrow-small.png');
}

.icon-diary {
  width: 2.4rem;
  height: 2.4rem;
  background-image: url('../lib/img/icon/diary.png');
}

.icon-todo {
  width: 2.4rem;
  height: 2.4rem;
  background-image: url('../lib/img/icon/todo.png');
}

.icon-calendar {
  width: 2.4rem;
  height: 2.4rem;
  background-image: url('../lib/img/icon/calendar.png');
}

.icon-planner {
  width: 2.4rem;
  height: 2.4rem;
  background-image: url('../lib/img/icon/planner.png');
}

.icon-store {
  width: 2.4rem;
  height: 2.4rem;
  background-image: url('../lib/img/icon/store.png');
}

.icon-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 2.4rem;
  height: 2.4rem;
}

.header {
  text-align: center;
}

.header-contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.header-util {
  display: flex;
  gap: .7rem;
}

.edit {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.edit-btn {
  display: flex;
  align-items: center;
  gap: .6rem;
}

.edit-order {
  font-size: 1.2rem;
  font-weight: 400;
  color: #818181;
}

.logo {
  width: 28rem;
  margin: 3.8rem;
}

.logo2 {
  width: 2.4rem;
}

.title {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 6rem;
}

.back {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.back__title {
  font-size: 1.8rem;
  font-weight: 500;
}

.main {
  text-align: center;
  margin-bottom: 8.5rem;
}

.main--has-gnb {
  margin-bottom: 10rem;
}

.schedule-open {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1.5rem 0;
  padding: 0 2rem;
}

.open-btn {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.open-btn--closed .icon-open {
  transform: rotate(180deg);
}

.link {
  color: #343434;
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.link-group {
  margin-bottom: 3rem;
}

.oauth-link__img {
  width: 4.8rem;
  height: 4.8rem;
  margin: 2.5rem;
}

.footer {
  width: 100%;
	height: 8.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #fff;
  z-index: 1000;
}

.gnb {
  border-top: 1px solid #d9d9d9;
  padding: 1.5rem 2rem 3rem 2rem;
}

.gnb-list {
  display: flex;
  justify-content: space-between;
}

.gnb-item__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  color: #343434;
  font-weight: 400;
  font-size: .9rem;
}

.link--theme-1 {
  display: block;
  color: #c1c1c1;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.calendar-nav {
  margin-bottom: 2rem;
}

.calendar-nav__description {
  font-weight: 500;
  margin-bottom: .5rem;
}

.calendar-info {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 0 2rem;
}

.calendar-additional {
  position: absolute;
  right: 2rem;
}

.calendar-info__title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 1rem;
}

.calender-info__title {
  font-size: 1.8rem;
  font-weight: 500;
}

.schedule-item {
  border: 1px solid;
  margin: 1rem 2rem;
  padding: .5rem;
  height: 3rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid #b8f095;
}

.schedule-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: .6rem;
  height: 100%;
  border: 1px solid #b8f095;
  background-color: #b8f095;
}

.schedule-check {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #b8f095;
  position: absolute;
  top: 50%;
  left: 2.5rem;
  transform: translateY(-50%);
}

.schedule-check--complete {
  background-color: #b8f095;
}

.schedule-check--doing {
  background-color: rgba(184, 240, 149, .3);
}

.schedule-item-subtitle {
  font-size: 1.6rem;
  font-weight: 400;
}

.schedule-time-list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 0 2rem;
}

.schedule-time-item {
  display: flex;
  gap: 2rem;
}

.schedule-time__timeline {
  display: flex;
  text-align: left;
}

.schedule-time__info {
    border: 1px solid;
    padding: .5rem 2rem;
    width: 100%;
    height: 6.5rem;
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid #9990F8;
}

.schedule-time__info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: .6rem;
  height: 100%;
  border: 1px solid #9990F8;
  background-color: #9990F8;
}

.schedule-time__check {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #9990F8;
}

.schedule-time__info-detail {
  text-align: left;
}

.schedule-time__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: .3rem;
}

.schedule-time__sub-text {
  font-size: 1.2rem;
  font-weight: 400;
}

.todo-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 2rem 4rem 2rem;
}

.todo-info__date-list {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  justify-content: space-between;
}

.date {
  font-size: 1.2rem;
  font-weight: 400;
}

.date--active {
  position: relative;
  font-weight: 700;
}

.date--sun {
  color: #FF0000;
}

.date--sat {
  color: #0047FF;
}

.date--active::before {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  content: '•';
}

.date__day {
  margin-bottom: .7rem;
}

.todo-date-title {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 2rem;
  display: flex;
}

.todo-item {
  padding: 0 2rem;
  position: relative;
}

.todo-item__detail {
  display: flex;
  gap: 2.5rem;
  padding: 1rem 0;
  padding-right: 2.4rem;
  align-items: center;
}

.todo-item__button-area {
  position: absolute;
  top: 1.9rem;
  right: 2rem;
  transform: translateY(-50%);
}

.check-btn {
  border: 1px solid #B8F095;
  border-radius: 5px;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  flex-shrink: 0;
}

.check-btn .icon-check-complete-w {
  display: none;
}

.check-btn .icon-doing {
  display: none;
}

.check-btn--complete .icon-check-complete-w {
  display: inline-block;
}

.check-btn--doing .icon-doing {
  display: inline;
}

.check-btn--complete {
  background-color: #b8f095;
}

.todo-item__title {
  font-size: 1.6rem;
  font-weight: 500;
  display:block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}

.status-selectors {
  display: flex;
  padding: 1rem 2rem;
  gap: 3.4rem;
}

.status-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-arrow-left {width: .7rem; height: 1.5rem; background-image: url('../lib/img/icon/arrow-left.png');}
.icon-diary {width: 2.4rem; height: 2.4rem; background-image: url('../lib/img/icon/diary.png');}
.icon-todo {width: 2.4rem; height: 2.4rem; background-image: url('../lib/img/icon/todo.png');}
.icon-calendar {width: 2.4rem; height: 2.4rem; background-image: url('../lib/img/icon/calendar.png');}
.icon-planner {width: 2.4rem; height: 2.4rem; background-image: url('../lib/img/icon/planner.png');}
.icon-store {width: 2.4rem; height: 2.4rem; background-image: url('../lib/img/icon/store.png');}
.icon-check-complete-w {width: 1.6rem; height: 1.1rem; background-image: url('../lib/img/icon/check-complete-w.png');}

@media screen and (max-width: 767px) {

}
